// -----------------------------------------------------------------------------
// This file contains all styles related to the Logo component.
// -----------------------------------------------------------------------------
/* .brand {
  display: flex;
  a.logo {
    text-decoration: none;
    font-family: $font-family-base;
    font-weight: bold;
    color: $navbar-color;
    font-size: 1.2rem;
  }
} */