// -----------------------------------------------------------------------------
// This file contains all styles related to the Menu component.
// -----------------------------------------------------------------------------
.nav-wrapper {
  nav {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
    }
  }
}
