// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  padding: 3rem 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 1rem;
    flex-direction: column;
  }
  span.use {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin: 0 .4rem;
      .react  {
        color: #61dafb;
        &:hover {
          color: $font-color-base;
        }
      }
      .redux  {
        color: #774BBC;
        &:hover {
          color: $font-color-base;
        }
      }
    }
  }
}