// -----------------------------------------------------------------------------
// This file contains all styles related to the Skills of the site/application.
// -----------------------------------------------------------------------------
.skills {
  .skills-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    .skills-section {
      background: transparent;
      border: 1px solid $border-color;
      padding: 1rem;
      text-align: center;
      border-radius: $border-radius;
      h3 {
        text-decoration: none;
        display: block;
        color: $font-color-heading;
        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
        font-weight: 700;
        line-height: 1.3;
        margin-top: 0;
        padding: 0;
      }
      .skills-elms {
        display: flex;
        flex-wrap: wrap;
        .atom-skill {
          a {
            text-decoration: none;
            font-size: 0.9rem;
            padding: 0.5rem 0.6rem;
            border-radius: $border-radius;
            font-family: $font-family-base;
            color: $indigo;
            background-color: $button-background-color;
            margin: 0 .5rem .5rem 0;
            font-weight: 600;
            &:hover {
              border-color: $indigo;
            }
          }
        }
      }
      
    }
    
  }
}
